@page
@model video_hosting.Pages.AccountSettingsModel
@{
}
<div class="row">
    <div class="col border border-light-subtle rounded-3 me-2">
        <p>Profile settings</p>
    </div>
    <div class="col border border-light-subtle rounded-3 ms-2">
        <p>Account settings</p>
    </div>
</div>