@page
@model IndexModel
@using video_hosting.Services
@{
    ViewData["Title"] = "Home page";
    ApplicationContext databaseConnection = new ApplicationContext();
}

<div class="container row">@Html.Raw(RenderingService.RenderAllThumbnail(databaseConnection).Content)</div>
